/**
 * Justboil.me - a TinyMCE image upload plugin
 * jbimages/css/dialog-v4.css
 *
 * Released under Creative Commons Attribution 3.0 Unported License
 *
 * License: http://creativecommons.org/licenses/by/3.0/
 * Plugin info: http://justboil.me/
 * Author: Viktor Kuzhelnyi
 *
 * Version: 2.3 released 23/06/2013
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -text-align: center;
  padding: 0 10px 0 5px;
}
h2 {
  color: #666;
  visibility: hidden;
}
.form-inline input {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}
#upload_target {
  border: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  display: none;
}
.upload_infobar {
  display: none;
  font-size: 12pt;
  background: #fff;
  margin-top: 10px;
  border-radius: 5px;
}
.upload_infobar img.spinner {
  margin-right: 10px;
}
.upload_infobar a {
  color: #00c;
}
#upload_additional_info {
  font-size: 10pt;
  padding-left: 26px;
}
#the_plugin_name {
  margin: 15px 0 0 0;
}
#the_plugin_name, #the_plugin_name a {
  color: #777;
  font-size: 9px;
}
#the_plugin_name a {
  text-decoration: none;
}
#the_plugin_name a:hover {
  color: #333;
}
/* this class makes the upload script output visible */
.upload_target_visible {
  width: 100% !important;
  height: 200px !important;
  border: 1px solid #000 !important;
  display: block !important
}
